{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": {
        "node": true
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "overrides": [
        {
            "files": [
                "*.svelte"
            ],
            "parser": "svelte-eslint-parser",
            "parserOptions": {
                "parser": "@typescript-eslint/parser"
            },
            "rules": {
                "no-undef": "off" // TODO: remove this line
            }
        }
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:svelte/base"
    ],
    "parserOptions": {
        "sourceType": "module",
        "project": [
            "./tsconfig.json"
        ],
        "tsconfigRootDir": ".",
        "extraFileExtensions": [
            ".svelte"
        ]
    },
    "settings": {
        "svelte3/typescript": true
    },
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "args": "none"
            }
        ],
        "no-async-promise-executor": "off",
        "no-case-declarations": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "no-prototype-builtins": "off",
        "@typescript-eslint/no-empty-function": "off",
        "no-constant-condition": "off"
        // "@typescript-eslint/consistent-type-imports": "error"
    }
}
