@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.workspace-leaf-content[data-type="git-view"] .button-border {
    border: 2px solid var(--interactive-accent);
    border-radius: var(--radius-s);
}

.workspace-leaf-content[data-type="git-view"] .view-content {
    padding: 0;
}

.workspace-leaf-content[data-type="git-history-view"] .view-content {
    padding: 0;
}

.loading > svg {
    animation: 2s linear infinite loading;
    transform-origin: 50% 50%;
    display: inline-block;
}

.obsidian-git-center {
    margin: auto;
    text-align: center;
    width: 50%;
}

.obsidian-git-textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.obsidian-git-disabled {
    opacity: 0.5;
}

.obsidian-git-center-button {
    display: block;
    margin: 20px auto;
}

.tooltip.mod-left {
    overflow-wrap: break-word;
}

.tooltip.mod-right {
    overflow-wrap: break-word;
}
.git-tools {
    display: flex;
    margin-left: auto;
}
.git-tools .type {
    padding-left: var(--size-2-1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11px;
}

.git-tools .type[data-type="M"] {
    color: orange;
}
.git-tools .type[data-type="D"] {
    color: red;
}
.git-tools .buttons {
    display: flex;
}
.git-tools .buttons > * {
    padding: 0 0;
    height: auto;
}

.is-active .git-tools .buttons > * {
    color: var(--nav-item-color-active);
}

.git-author {
    color: var(--text-accent);
}

.git-date {
    color: var(--text-accent);
}

.git-ref {
    color: var(--text-accent);
}

.workspace-leaf-content[data-type="diff-view"] .d2h-d-none {
    display: none;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-wrapper {
    text-align: left;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-header {
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--interactive-accent);
    font-family: var(--font-monospace);
    height: 35px;
    padding: 5px 10px;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-header,
.workspace-leaf-content[data-type="diff-view"] .d2h-file-stats {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-stats {
    font-size: 14px;
    margin-left: auto;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-lines-added {
    border: 1px solid #b4e2b4;
    border-radius: 5px 0 0 5px;
    color: #399839;
    padding: 2px;
    text-align: right;
    vertical-align: middle;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-lines-deleted {
    border: 1px solid #e9aeae;
    border-radius: 0 5px 5px 0;
    color: #c33;
    margin-left: 1px;
    padding: 2px;
    text-align: left;
    vertical-align: middle;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-name-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    width: 100%;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-name {
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-wrapper {
    border: 1px solid var(--background-modifier-border);
    border-radius: 3px;
    margin-bottom: 1em;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-collapse {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid var(--background-modifier-border);
    border-radius: 3px;
    cursor: pointer;
    display: none;
    font-size: 12px;
    justify-content: flex-end;
    padding: 4px 8px;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-collapse.d2h-selected {
    background-color: #c8e1ff;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-collapse-input {
    margin: 0 4px 0 0;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-diff-table {
    border-collapse: collapse;
    font-family: Menlo, Consolas, monospace;
    font-size: 13px;
    width: 100%;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-files-diff {
    width: 100%;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-diff {
    overflow-y: hidden;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-side-diff {
    display: inline-block;
    margin-bottom: -8px;
    margin-right: -4px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 50%;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-line {
    padding: 0 8em;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-line,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    width: 100%;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line {
    padding: 0 4.5em;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-line-ctn {
    word-wrap: normal;
    background: none;
    display: inline-block;
    padding: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    vertical-align: middle;
    white-space: pre;
    width: 100%;
}

.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-line del,
.theme-light
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-code-side-line
    del {
    background-color: #ffb6ba;
}

.theme-dark .workspace-leaf-content[data-type="diff-view"] .d2h-code-line del,
.theme-dark
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-code-side-line
    del {
    background-color: #8d232881;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-line del,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-line ins,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line del,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-line ins {
    border-radius: 0.2em;
    display: inline-block;
    margin-top: -1px;
    text-decoration: none;
    vertical-align: middle;
}

.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-code-line ins,
.theme-light
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-code-side-line
    ins {
    background-color: #97f295;
    text-align: left;
}

.theme-dark .workspace-leaf-content[data-type="diff-view"] .d2h-code-line ins,
.theme-dark
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-code-side-line
    ins {
    background-color: #1d921996;
    text-align: left;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-line-prefix {
    word-wrap: normal;
    background: none;
    display: inline;
    padding: 0;
    white-space: pre;
}

.workspace-leaf-content[data-type="diff-view"] .line-num1 {
    float: left;
}

.workspace-leaf-content[data-type="diff-view"] .line-num1,
.workspace-leaf-content[data-type="diff-view"] .line-num2 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding: 0 0.5em;
    text-overflow: ellipsis;
    width: 3.5em;
}

.workspace-leaf-content[data-type="diff-view"] .line-num2 {
    float: right;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-linenumber {
    background-color: var(--background-primary);
    border: solid var(--background-modifier-border);
    border-width: 0 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--text-muted);
    cursor: pointer;
    display: inline-block;
    position: absolute;
    text-align: right;
    width: 7.5em;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-linenumber:after {
    content: "\200b";
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-linenumber {
    background-color: var(--background-primary);
    border: solid var(--background-modifier-border);
    border-width: 0 1px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: var(--text-muted);
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0 0.5em;
    position: absolute;
    text-align: right;
    text-overflow: ellipsis;
    width: 4em;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-diff-tbody tr {
    position: relative;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-linenumber:after {
    content: "\200b";
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-emptyplaceholder,
.workspace-leaf-content[data-type="diff-view"] .d2h-emptyplaceholder {
    background-color: var(--background-primary);
    border-color: var(--background-modifier-border);
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-line-prefix,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-linenumber,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-linenumber,
.workspace-leaf-content[data-type="diff-view"] .d2h-emptyplaceholder {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-code-linenumber,
.workspace-leaf-content[data-type="diff-view"] .d2h-code-side-linenumber {
    direction: rtl;
}

.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-del {
    background-color: #fee8e9;
    border-color: #e9aeae;
}

.theme-light .workspace-leaf-content[data-type="diff-view"] .d2h-ins {
    background-color: #dfd;
    border-color: #b4e2b4;
}

.theme-dark .workspace-leaf-content[data-type="diff-view"] .d2h-del {
    background-color: #521b1d83;
    border-color: #691d1d73;
}

.theme-dark .workspace-leaf-content[data-type="diff-view"] .d2h-ins {
    background-color: rgba(30, 71, 30, 0.5);
    border-color: #13501381;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-info {
    background-color: var(--background-primary);
    border-color: var(--background-modifier-border);
    color: var(--text-normal);
}

.theme-light
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-file-diff
    .d2h-del.d2h-change {
    background-color: #fdf2d0;
}

.theme-dark
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-file-diff
    .d2h-del.d2h-change {
    background-color: #55492480;
}

.theme-light
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-file-diff
    .d2h-ins.d2h-change {
    background-color: #ded;
}

.theme-dark
    .workspace-leaf-content[data-type="diff-view"]
    .d2h-file-diff
    .d2h-ins.d2h-change {
    background-color: rgba(37, 78, 37, 0.418);
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list-wrapper {
    margin-bottom: 10px;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list-wrapper a {
    color: #3572b0;
    text-decoration: none;
}

.workspace-leaf-content[data-type="diff-view"]
    .d2h-file-list-wrapper
    a:visited {
    color: #3572b0;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list-header {
    text-align: left;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list-title {
    font-weight: 700;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list-line {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list > li {
    border-bottom: 1px solid var(--background-modifier-border);
    margin: 0;
    padding: 5px 10px;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-list > li:last-child {
    border-bottom: none;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-file-switch {
    cursor: pointer;
    display: none;
    font-size: 10px;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-icon {
    fill: currentColor;
    margin-right: 10px;
    vertical-align: middle;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-deleted {
    color: #c33;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-added {
    color: #399839;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-changed {
    color: #d0b44c;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-moved {
    color: #3572b0;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-tag {
    background-color: var(--background-primary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 10px;
    margin-left: 5px;
    padding: 0 2px;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-deleted-tag {
    border: 2px solid #c33;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-added-tag {
    border: 1px solid #399839;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-changed-tag {
    border: 1px solid #d0b44c;
}

.workspace-leaf-content[data-type="diff-view"] .d2h-moved-tag {
    border: 1px solid #3572b0;
}

/* ====================== Line Authoring Information ====================== */

.cm-gutterElement.obs-git-blame-gutter {
    /* Add background color to spacing inbetween and around the gutter for better aesthetics */
    border-width: 0px 2px 0.2px 2px;
    border-style: solid;
    border-color: var(--background-secondary);
    background-color: var(--background-secondary);
}

.cm-gutterElement.obs-git-blame-gutter > div,
.line-author-settings-preview {
    /* delegate text color to settings */
    color: var(--obs-git-gutter-text);
    font-family: monospace;
    height: 100%; /* ensure, that age-based background color occupies entire parent */
    text-align: right;
    padding: 0px 6px 0px 6px;
    white-space: pre; /* Keep spaces and do not collapse them. */
}

@media (max-width: 800px) {
    /* hide git blame gutter not to superpose text */
    .cm-gutterElement.obs-git-blame-gutter {
        display: none;
    }
}

.git-unified-diff-view,
.git-split-diff-view .cm-deletedLine .cm-changedText {
    background-color: #ee443330;
}

.git-unified-diff-view,
.git-split-diff-view .cm-insertedLine .cm-changedText {
    background-color: #22bb2230;
}

/* Limits the scrollbar to the view body */
.git-view {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.git-obscure-prompt[git-is-obscured="true"] #git-show-password:after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"></path><circle cx="12" cy="12" r="3"></circle></svg>');
}

.git-obscure-prompt[git-is-obscured="false"] #git-show-password:after {
    -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg-icon lucide-eye-off"><path d="M10.733 5.076a10.744 10.744 0 0 1 11.205 6.575 1 1 0 0 1 0 .696 10.747 10.747 0 0 1-1.444 2.49"></path><path d="M14.084 14.158a3 3 0 0 1-4.242-4.242"></path><path d="M17.479 17.499a10.75 10.75 0 0 1-15.417-5.151 1 1 0 0 1 0-.696 10.75 10.75 0 0 1 4.446-5.143"></path><path d="m2 2 20 20"></path></svg>');
}

/* Override styling of Codemirror merge view "collapsed lines" indicator */
.git-split-diff-view .ͼ2 .cm-collapsedLines {
    background: var(--interactive-normal);
    border-radius: var(--radius-m);
    color: var(--text-accent);
    font-size: var(--font-small);
    padding: var(--size-4-1) var(--size-4-1);
}
.git-split-diff-view .ͼ2 .cm-collapsedLines:hover {
    background: var(--interactive-hover);
    color: var(--text-accent-hover);
}


/* >>> Begin of generated styles @dkani */
.obsidian-git-dkani-ui-howto,
.obsidian-git-dkani-ui-group {
  padding: 1em;
  border: 1px solid var(--divider-color);
  margin-top: 1em;
  margin-bottom: 2em;
}
.obsidian-git-dkani-ui-howto-title,
.obsidian-git-dkani-ui-group-title {
  font-weight: bold;
  padding: 0 0.5em 0 0.5em;
  width: fit-content;
  background: white;
}
.obsidian-git-dkani-ui-howto {
  margin-bottom: 1em;
}
.obsidian-git-dkani-ui-howto-title {
  font-size: 1.1em;
}
.obsidian-git-dkani-ui-howto-text {
  display: block;
  color: var(--text-muted);
  font-size: smaller;
}

.obsidian-git-dkani-ui-group-header {
  display: flex;
  cursor: pointer;
  margin-bottom: 0.3em;
  margin-top: -26px;
}

.obsidian-git-dkani-ui-group-toggle {
  width: 1em;
  font-family: monospace;
  font-size: 1em;
  text-align: center;
  user-select: none;
  opacity: 0.8;
  margin-top: 2px;
  padding: 0 10px 0 10px;
  background: white;
}

.obsidian-git-dkani-ui-group-body {
  overflow: hidden;
  transition: max-height 0.3s ease;
  will-change: max-height;
  padding-top: 2px;
}

.obsidian-git-dkani-ui-group-body.collapsed {
  max-height: 0;
  opacity: 0.5;
  padding-top: 0;
  padding-bottom: 0;
}

.setting-item.obsidian-git-dkani-ui-item,
.setting-item.obsidian-git-dkani-ui-group-item {
  align-items: flex-start;
}
.obsidian-git-dkani-ui-info-toggle {
  margin-top: 10px;
}

.setting-item.obsidian-git-dkani-ui-item {
  padding: 0.75em 0 0 1em;
  border-top: unset;
}

.setting-item.obsidian-git-dkani-ui-group-item {
  border-top: none !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-bottom: 0.25em;
}

.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-info,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-info {
  flex: 0 0 200px;
  margin-top: 5px;
}
.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-info.obsidian-git-dkani-ui-info-toggle,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-info.obsidian-git-dkani-ui-info-toggle {
  margin-top: 0px;
}
.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-info.obsidian-git-dkani-ui-info-textarea,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-info.obsidian-git-dkani-ui-info-textarea {
  margin-top: 3px;
}

.obsidian-git-dkani-ui-info-toggle {
  margin-top: 0px !important;
}

.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-control,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-control {
  flex: 1 1 auto !important;
  flex-direction: column;
  align-items: flex-start;
}
.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-control input,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-control input,
.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-control input,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-control input {
  max-width: none;
  font-size: 0.9em;
  height: 90%;
}

.obsidian-git-dkani-ui-group-item > .setting-item-control input[type='number'] + label,
.obsidian-git-dkani-ui-item > .setting-item-control input[type='number'] + label,
.obsidian-git-dkani-ui-group-item > .setting-item-control input[type='number'] + label,
.obsidian-git-dkani-ui-item > .setting-item-control input[type='number'] + label {
  white-space: nowrap;
  display: flex;
  align-items: center;
  margin-left: 5px;
}

input.obsidian-git-dkani-ui-colorpicker {
  width: auto !important;
}
.obsidian-git-dkani-ui-colorpicker-preview {
  display: flex;
  align-items: center;
  margin-left: 3px;
}
.obsidian-git-dkani-ui-colorpicker-preview label {
  padding: 2px;
}

.setting-item.obsidian-git-dkani-ui-group-item > .setting-item-control small,
.setting-item.obsidian-git-dkani-ui-item > .setting-item-control small {
  margin-top: -0.5em;
  color: var(--text-faint);
  font-size: var(--font-ui-smaller);
  line-height: var(--line-height-tight);
}

.setting-item-control input[class*='-dkani-ui-item']:not([type='checkbox']),
.setting-item-control select[class*='-dkani-ui-item']:not([type='checkbox']),
.setting-item-control textarea[class*='-dkani-ui-item'] {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* On wider screens, set a max width for text inputs & textarea */
@media (min-width: 640px) {
  .setting-item-control input[class*='-dkani-ui-item']:not([type='checkbox']) {
    max-width: 472px;
  }

  .setting-item-control textarea[class*='-dkani-ui-item'] {
    max-width: 472px;
    height: 5em;
  }
}

input.obsidian-git-dkani-ui-item-short {
  width: 4em !important;
  text-align: right;
}

.obsidian-git-dkani-ui-label-code {
  font-weight: bold;
  _text-transform: uppercase;
  color: blue;
}

.obsidian-git-dkani-ui-tooltip-icon-warning {
  font-size: 1.1em;
  vertical-align: 0px;
  color: orangered;
}

.obsidian-git-dkani-ui-tooltip-icon-info {
  font-size: 0.8em; /* Smaller text */
  vertical-align: 1px;
}

.obsidian-git-dkani-ui-tooltip-icon-warning,
.obsidian-git-dkani-ui-tooltip-icon-info {
  opacity: 0.7;
  cursor: help;
  margin-left: 0.2em;
  line-height: 1;
  user-select: none;
  display: inline-block;
}

.obsidian-git-dkani-ui-tooltip-icon-info:hover,
.obsidian-git-dkani-ui-tooltip-icon-info:focus,
.obsidian-git-dkani-ui-tooltip-icon-warning:hover,
.obsidian-git-dkani-ui-tooltip-icon-warning:focus {
  opacity: 1;
}

/* Hidden by default */
.obsidian-git-dkani-ui-tooltip {
  position: absolute;
  top: 1.6em;
  left: 0;
  background: var(--background-secondary);
  color: var(--text-normal);
  padding: 4px 8px;
  font-size: 1em;
  border: 1px solid var(--divider-color);
  border-radius: 4px;
  white-space: normal;
  z-index: 10;
  width: max-content;
  max-width: 300px;
  text-align: left;
  display: none;
}

/* Show on hover or focus */
.obsidian-git-dkani-ui-tooltip-icon:hover + .obsidian-git-dkani-ui-tooltip,
.obsidian-git-dkani-ui-tooltip-icon:focus + .obsidian-git-dkani-ui-tooltip {
  display: block;
}

/* StatusLine */
.obsidian-git-dkani-ui-status-wrapper {
  display: flex;
  gap: 0.5em;
  align-items: center;
  flex-wrap: wrap;
}
.obsidian-git-dkani-ui-status-pill {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 2px 12px 2px 2.5em; /* reserve space for thumb */
  border-radius: 6px;
  white-space: nowrap;
  font-family: var(--font-monospace);
  color: var(--text-normal);
  background-color: var(--background-modifier-border-hover);
  min-width: 75px;
  text-align: left;
  user-select: text;
  box-shadow:
    inset 0 4px 10px rgba(0, 0, 0, 0.07),
    inset 0 0 1px rgba(0, 0, 0, 0.21);
}

.obsidian-git-dkani-ui-status-pill::before {
  content: '';
  position: absolute;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 999px;
  background-color: white;
  background-size: 80% 80%;
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

/* Status variants */
.obsidian-git-dkani-ui-status-pill.enabled {
  background-color: #a3f7b5; /* light green */
  color: #166534;
}
.obsidian-git-dkani-ui-status-pill.enabled::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%2315803d' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
}

.obsidian-git-dkani-ui-status-pill.disabled {
  background-color: var(--background-modifier-border-hover);
  color: var(--text-muted);
}
.obsidian-git-dkani-ui-status-pill.disabled::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ff0000' stroke-width='2' viewBox='0 0 24 24'%3E%3Ccircle cx='12' cy='12' r='10'/%3E%3Cline x1='4.93' y1='4.93' x2='19.07' y2='19.07'/%3E%3C/svg%3E");
}

.obsidian-git-dkani-ui-settings-slideout {
  position: absolute;
  top: -200px;
  width: 250px;
  right: 0px;
  background: var(--background-primary);
  border: 1px solid var(--divider-color);
  padding: 10px;
  border-radius: 0 8px 0 8px;
  box-shadow: 5px -1px 9px 1px;
  transition: top 0.3s ease-in-out;
  z-index: 999;
}
.obsidian-git-dkani-ui-settings-slideout.visible {
  top: 0px;
}
.obsidian-git-dkani-ui-lang-btn {
  margin: 0 5px 5px 0;
  padding: 4px 6px;
  font-size: 12px;
  cursor: pointer;
}
.obsidian-git-dkani-ui-lang-btn.current {
  background-color: var(--background-modifier-success);
}
.obsidian-git-dkani-ui-gear-icon {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.7;
}
.obsidian-git-dkani-ui-gear-icon:hover {
  opacity: 1;
}
.obsidian-git-dkani-ui-gear-close-button {
  position: absolute;
  top: 8px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}
.obsidian-git-dkani-ui-group.radio {
  border-radius: 10px;
}

/* defaultValue vertical bar === BEGIN */
.obsidian-git-dkani-ui-input-wrapper {
  display: flex;
  width: 100%;
}
.obsidian-git-dkani-ui-icon-wrapper {
  display: flex;
  align-items: center;
}
.obsidian-git-dkani-ui-default-icon {
  width: 5px;
  height: 90%;
  background: #a3f7b5;
  margin-left: -5px;
  display: block;
}
/* defaultValue vertical bar === END */

/* <<< End of generated styles @dkani */

